@model WebApplication1.Models.Music
@{
    ViewBag.Title = Model.Title;
}



<h2>@Model.Title</h2>
<ul>
    <li>f: @Model.Artist</li>
    <li>a: @Model.YoutubeUrl</li>
    <li>a: @Model.YoutubeUrl.Substring(32)</li>
    <li>D: @Model.Description</li>


</ul>

<iframe width="864" height="486" src="https://www.youtube.com/embed/@Model.YoutubeUrl.Substring(32)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

